<p>
  <%= comment.commenter %>: <em style="color: #0000FF;"><%= simple_format comment.body %></em>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete, :class => 'btn-mini btn-info' %>
</p>
<hr />
