<blockquote class="pull-left">
  <h2>Expenses</h2>
  <small>Got a dollar in my pocket..</small>
</blockquote>


<table class="table">
  <% @expenses.each do |expense|  %>
    <tr>
      <td>We spent <strong>€ <%= expense.amount %></strong> on <strong><%= expense.title %></strong></td>
    </tr>
  <% end %>
</table>
