<br/>
<h2>You've made it!</h2>
<p>Welcome to Ice, the internal communication system of Ice!</p>
<p>In the future this page will contain an activity log and a short overview or your current tasks. Therefore a user account will be made ;).</p>
